<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burgers</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers2.js"></script>
</head>

<body>

	<div class="container text-center main-text">
		<div class="row">
			<div class="col-md-12">
				<img class="img-responsive" src="/assets/img/Hamburger.png" alt="Veggie burger drawing">
				<h1 class="display-4">EAT DA BURGER YUM!r</h1>
				<p class="lead">Order a burger and devour it when it's ready!</p>
			</div>
		</div>
	</div>
	{{{ body }}}
	
</body>
<script></script>
</html>